doctype html
html
	head
	body
		h2 Управление блогом
		a(href='/admin/add') Добавить новую запись
		h3 Записи
			ul
				each post in posts
					li= post.content + ' ' 
						a(href='/admin/change/' + post.id) Изменить 
						a(href='/admin/delete/' + post.id) Удалить
