extends ../layouts/public.pug

block content
	div.l-content
		div.pure-g
			div.pure-u-4-24
				div.logo
					img.pure-img(src='/img/skillbook_logo.png')
			div.main-column.pure-u-18-24
				h1.page-title Блог разработчиков
				each post in posts 
					div.post
						div.triangle-left
						div.post-published публично
						h3.post-title= post.title
						p= post.content
						div.post-date= post.publishDate
						div.triangle-topleft
						a(href='/post/'+post.id).post-more Подробнее
			div.pure-u-2-24
				

		
